@model CompanyManagement.ViewModel.VmRoleMenu

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<form asp-controller="AccessControl" asp-action="UpdateMenuAccess" asp-area="Administration"
      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
      data-ajax-failure="onFailed" data-ajax-success="onSuccess"
      data-ajax="true" data-ajax-method="POST" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="row pb-3">
        <div class="col-md-4">
            <label class="control-label">Role Name: @Model.UserRole.RoleName</label>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.trigger-reload').on('click', () => {
            setTimeout(() => {
                location.reload()
            }, 300);
        });
    });
</script>
@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }*@